@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

.tab {
  margin-bottom: 0;
  border-bottom: 2px solid transparent !important;
  cursor: pointer;
}

.tab:hover {
  color: black;
  border-bottom: 2px solid black !important;
}

.active {
  color: orangered;
  border-bottom: 2px solid orangered !important;
}

.button {
  border: 1px solid transparent;
  padding: 8px 20px;
  letter-spacing: 2px;
}

.input-playlist {
  width: 100%;
  padding: 4px 10px;
  border: 1px solid grey;
  border-radius: 1px;
  background-color: white;
  outline: none;
}

.image {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.add-btn {
  padding: 2px 10px;
  border: 1px solid #a6a3a3;
  border-radius: 2px;
  background-color: white;
  letter-spacing: 1px;
}

.added {
  color: orangered;
  border: 1px solid orangered;
}

.playlist + .playlist {
  margin-top: 6px;
}

.song-img {
  width: 30px;
  height: 30px;
}

.song-desc {
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0;
  font-size: 12px;
}

.sub-btn {
  padding: 6px 16px;
  border: 1px solid orangered;
  border-radius: 2px;
  background-color: orangered;
  letter-spacing: 1px;
  color: white;
}
