<div class="header-container container-fluid">
    <div class="header container d-flex align-items-center justify-content-between">
        <div class="navigation d-flex align-items-center">
            <div class="logo d-flex align-items-center me-3 pointer" routerLink="/">
                <img class="logo-img" src="/assets/logo.jpg" alt="" >
            </div>
            <div class="nav-bar d-flex align-items-center">
              <div><a class="px-3 nav-item text-decoration-none text-white" routerLink="/">Home</a></div>
                <div><a class="px-3 nav-item text-decoration-none text-white" (click)="toTrending()">Discovery</a></div>
                <div><a class="px-3 nav-item text-decoration-none text-white" (click)="toLibrary()">Library</a></div>
            </div>
        </div>
        <div class="user-controller d-flex align-items-center">
            <div class="search-bar mx-2">
                <div class="input-group no-border-radius">
                    <input class="form-control no-border-radius font-14" [(ngModel)]="textSearch" type="search" placeholder="Search">
                    <span class="input-group-text no-border-radius" (click)="routeSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div *ngIf="!user" class="user-register d-flex align-items-center">
                <button class="btn btn-outline-dark text-white login-btn no-border-radius"
                        style="font-weight: 100; font-size: 14px" routerLink="/auth">Sign in</button>
            </div>
            <div *ngIf="!!user" class="user-info d-flex align-items-center">
                <div class="user-avatar p-2">
                    <img class="avatar" src="{{user.avatar}}" alt="">
                </div>
                <div class="d-flex align-items-center" dropdown>
                    <p class="m-0 text-white username">{{user.username}}</p>
                    <span class="text-white ms-1 user-toggle px-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down btn-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                    <ul class="user-menu border p-0">
                        <li class="pointer"><a class="dropdown-item py-2 px-3" routerLink="/user-info/edit">User info</a></li>
                        <li class="pointer"><a class="dropdown-item py-2 px-3" routerLink="/user-info/change-password">Change password</a></li>
                        <hr class="m-1">
                        <li class="pointer">
                            <a class="dropdown-item py-2 px-3 d-flex" (click)="logOut()">Log out
                                <span class="d-flex align-items-center ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
