<div class="container-fluid footer">
  <div class="container">
    <div class="footer__container">
      <h1 class="text-white footer__header">NDTQ MUSIC</h1>
      <div class="footer__desc-wrapper">
        <p class="text-white footer__desc">
<!--          NDTQ music is an artist-first platform powered by a global-->
<!--          community of artists and listeners on the pulse of what's new-->
<!--          , now and next in music culture.-->
<!--          We empower independent artists with the tools, services and resources they need to help them build-->
<!--          and grow their careers.-->
        </p>
      </div>
      <div class="footer__social">
        <i class="social fa-brands fa-facebook"></i>
        <i class="social fa-brands fa-google"></i>
        <i class="social fa-brands fa-twitter"></i>
        <i class="social fa-brands fa-instagram"></i>
        <i class="social fa-brands fa-tiktok"></i>
        <i class="social fa-brands fa-apple"></i>
      </div>
      <div class="footer__end text-white">
        Design by&nbsp;&nbsp;-&nbsp;&nbsp;<span class="text-primary">Ngạn, Diện, Trường, Quang</span>
      </div>
    </div>
  </div>
</div>
