@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

.user-image {
  position: relative;
}

.user-info-id {
  margin-top: 12px;
}

.tab-content {
  padding: 0 24px;
}

.input-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disable {
  opacity: 55%;
}

.user-info-btn {
  width: 130px;
  padding: 6px 0;
  letter-spacing: 1px;
}

.modal-input {
  padding: 6px 8px;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: mistyrose;
}

input.ng-invalid.ng-touched.clear {
  border: 1px solid white;
  background-color: #f2f2f2;
}

.hide {
  display: none;
}

.form-message {
  color: red;
}

.password-form {
  width: 400px;
}

.clear-btn {
  background-color: orangered !important;
  color: white;
}
