<form class="change-password-form info-form d-flex justify-content-center" id="change-pass-form"
      [formGroup]="changePassForm" (ngSubmit)="saveChange()">
  <div class="password-form">
    <div class="form-group pass-form-group">
      <label class="modal-label my-1" for="rpl-password">Current password</label><br>
      <input (input)="clearValid($event, password)" (blur)="checkValid($event, password)"
             class="modal-input" name="rpl-password" type="password" id="rpl-password"
             placeholder="Current password" formControlName="password">
      <div #password>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('password')!.errors !== null
              && changePassForm.get('password')!.errors!['required']
              && changePassForm.get('password')!.touched">
              Password must not be left blank
        </span>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('password')!.errors !== null
              && changePassForm.get('password')!.errors!['minlength']
              && changePassForm.get('password')!.touched">
              Must be at least 6 character
        </span>
      </div>
    </div>
    <div class="form-group pass-form-group">
      <label class="modal-label my-1" for="new-password">New password</label><br>
      <input (input)="clearValid($event, newPassword)" (blur)="checkValid($event, newPassword)"
             class="modal-input" name="new-password" type="password" id="new-password"
             placeholder="New password" formControlName="newPassword">
      <div #newPassword>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('newPassword')!.errors !== null
              && changePassForm.get('newPassword')!.errors!['required']
              && changePassForm.get('newPassword')!.touched">
              New password must not be left blank
        </span>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('newPassword')!.errors !== null
              && changePassForm.get('newPassword')!.errors!['minlength']
              && changePassForm.get('newPassword')!.touched">
              Must be at least 6 character
        </span>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('newPassword')!.errors !== null
              && changePassForm.get('newPassword')!.errors!['notChange']
              && changePassForm.get('newPassword')!.touched">
              New password should not be the same as the old password
        </span>
      </div>
    </div>
    <div class="form-group pass-form-group">
      <label class="modal-label my-1" for="confirm-new-password">Confirm new password</label><br>
      <input (input)="clearValid($event, confirmNewPassword)" (blur)="checkValid($event, confirmNewPassword)"
             class="modal-input" name="confirm-new-password" type="password" id="confirm-new-password"
             placeholder="Confirm new password" formControlName="confirmNewPassword">
      <div #confirmNewPassword>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('confirmNewPassword')!.errors !== null
              && changePassForm.get('confirmNewPassword')!.errors!['required']
              && changePassForm.get('confirmNewPassword')!.touched">
              Confirm new password must not be left blank
        </span>
        <span class="form-message font-12"
              *ngIf="changePassForm.get('confirmNewPassword')!.errors !== null
              && changePassForm.get('confirmNewPassword')!.errors!['notMatch']
              && changePassForm.get('confirmNewPassword')!.touched">
              Confirm new password must be the same as new password
        </span>
      </div>
    </div>
    <div class="mt-4 submit-section submit-password text-end">
      <button class="user-info-btn btn btn-sm clear-btn m-0 me-2 no-border-radius pointer" type="reset">Clear</button>
      <button class="user-info-btn btn btn-sm btn-dark m-0 no-border-radius" type="submit">Save change</button>
    </div>
  </div>
</form>
