<div class="slider-area px-4 py-3">
  <h2 class="slider-header">{{ title }}</h2>
  <div class="slider-body">
    <div class="{{ navClass }}">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of items">
          <ng-template carouselSlide>
            <div (click)="redirect(path,item['id'])" class="pointer">
              <img class="fit-image" [src]="item['avatar']" alt="">
              <p class="m-0 text-start short-paragraph mt-2">{{ item['name'] }}{{item['singerList']| toStringSinger}}</p>
              <p class="m-0 font-12 grey-text text-start">{{ item['users']['username'] }}</p>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <button (click)="prev('.' + navClass + ' .owl-prev')" class="prev-arrow arrow">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button (click)="next('.' + navClass + ' .owl-next')" class="next-arrow arrow">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
</div>
