@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-image: url('src/assets/login-bg.jpg');*/
  background-image: url('https://wallpapersmug.com/download/3840x2160/0f9d89/rock_music_concert_dance_party.jpg');
  z-index: 5;
  background-size: cover;
}

.login-section {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
}

.form-container {
  height: 100%;
}

.auth-input {
  padding: 6px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: white;
  outline: none;
  color: black !important;
}

.auth-input::placeholder {
  color: #a6a3a3;
}

.form-btn {
  border: none;
  width: 48%;
  color: white;
  padding: 8px 0 !important;
}

.form-btn-submit {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
}

.form-btn:hover {
  opacity: 70%;
}

.form-btn-back {
  background-color: rgba(236, 0, 0, 0.7);
  border: 1px solid rgba(236, 0, 0, 0.7);
}

.active {
  text-decoration: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid #fc5757;
  background-color: mistyrose;
}

input.ng-invalid.ng-touched.clear {
  border: 1px solid white;
  background-color: white;
}

.hide {
  display: none;
}

.form-message {
  color: #fc5757;
}

.auth-header {
  letter-spacing: 4px !important;
  font-size: 30px !important;
  font-weight: 300;
}
