@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

.play-btn {
  width: 40px;
  height: 40px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.play-btn:hover {
  opacity: 80%;
}

.tag-ref {
  background-color: #999999;
  color: white;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
}

.tag-ref:hover {
  background-color: #615e5e;
}

.audio-control {
  width: 100%;
}

.item-tag {
  cursor: pointer;
  background-color: #999999;
  color: white;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin-top: 1px;
  line-height: 14px;
}

.play-btn-icon {
  margin-left: 2px;
}

.action-box {
  margin-bottom: 2px !important;
}
.item-tag:hover {
  background-color: #615e5e;
}



