<div class="body-container container-fluid">
  <div class="body container pb-4 g-0">
    <div class="user-bg-img">
      <div class="row">
        <div class="col col-3 my-3">
          <div class="user-info-img">
            <img class="fit-image circle" src="{{avatar}}" alt="">
          </div>
        </div>
        <div class="col col-9 my-4">
          <div class="user-info-id">
            <div class="user-info-name-wrapper">
              <span class="font-24 px-3 py-2 bg-dark text-white" [hidden]="!name">{{name}}</span>
            </div>
            <div class="user-info-username-wrapper">
              <span class="font-16 px-3 py-2 bg-dark text-white">{{username}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="user-tab mx-3">
          <ul class="list-group no-border-radius">
            <li class="list-group-item pointer" routerLink="edit"><a>User information</a></li>
            <li class="list-group-item pointer" routerLink="change-password"><a>Change password</a></li>
            <li class="list-group-item p-0">
              <a class="btn no-border-radius back-btn pointer" routerLink="/trending">Back</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 border-start">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
