<div class="container-fluid body-container">
  <div class="container body">
    <div class="row pt-4">
      <div class="col-9">
        <div class="mx-4">
          <h2 class="header">Discover what is new in community</h2>
        </div>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'top-view-song'" [path]="'song'" [title]="'Top 10 view song'"
                            [items]="topViewSongs"></app-discovery-item>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'new-song'" [path]="'song'" [title]="'New 10 song'" [items]="newSongs"></app-discovery-item>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'top-like-song'" [title]="'Top 10 like song'"
                            [items]="topLikeSongs" [path]="'song'"></app-discovery-item>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'top-view-playlist'" [path]="'playlist'" [title]="'Top 10 view playlist'"
                            [items]="topPlaylists"></app-discovery-item>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'new-playlist'" [path]="'playlist'" [title]="'New 10 playlist'"
                            [items]="newPlaylists"></app-discovery-item>
        <hr class="mx-4 my-0">
        <app-discovery-item [navClass]="'top-like-playlist'" [path]="'playlist'" [title]="'Top 10 like playlist'"
                            [items]="topLikePlaylists"></app-discovery-item>
      </div>
      <div class="col-3 border-start">
        <div class="row px-2">
          <div class="col-12">
            <p class="m-0 mb-3 font-16">Get it on mobile</p>
          </div>
          <div class="mt-2 d-flex">
            <div class="me-4" style="width: 48%">
              <img class="mobile-app pointer" src="/assets/google-play.jpg" alt="">
            </div>
            <div style="width: 48%">
              <img class="mobile-app pointer" src="/assets/apple-store.jpg" alt="">
            </div>
          </div>
          <div class="col-12">
            <hr class="my-4">
            <div style="width: 100%">
              <img class="mb-4" style="width: 100%; object-fit: contain" src="/assets/Banner%201.jpg" alt="">
              <img style="width: 100%; object-fit: contain" src="/assets/Banner%202.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
