<div class="body-container container-fluid" style="grid-template-rows: auto 1fr auto;">
  <div class="body container pb-4">
    <div class="row pt-3">

      <!-- Sidebar -->
      <div class="sidebar col col-lg-3">
        <div class="sidebar-container">
          <h4 class="px-3 mb-0" style="font-weight: 500; letter-spacing: 2px">Search {{resultContent}}</h4>
          <div class="search-box">
            <ul class="search-menu p-0 m-0 mt-2">
              <li class="search-item">
                <a class="filter-option d-block px-3 py-2" (click)="fillCategory('',1)">
                <span class="filter-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </span>
                  Everything
                </a>
              </li>
              <li class="search-item">
                <a class="filter-option tab-2 d-block px-3 py-2" (click)="fillCategory('songs', 2)">
                <span class="filter-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-soundwave" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                </span>
                  Tracks
                </a>
              </li>
              <li class="search-item">
                <a class="filter-option d-block px-3 py-2" (click)="fillCategory('users',3)">
                <span class="filter-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg>
                </span>
                  People
                </a>
              </li>
              <li class="search-item">
                <a class="filter-option tab-4 d-block px-3 py-2" (click)="fillCategory('playlist', 4)">
                <span class="filter-icon me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-music-note-list" viewBox="0 0 16 16">
                    <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                    <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                    <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                    <path fill-rule="evenodd"
                          d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </span>
                  Playlists
                </a>
              </li>
            </ul>
          </div>
          <hr class="mx-3">
          <div class="filter-box px-3">
            <p class="tag-header">Filter by Tags:</p>
            <div class="tag-list">
              <div class="tag px-2 font-12" *ngFor="let t of hintTag" [routerLink]="['/tags', t.id, t.name]">
                #{{t.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="body-content col col-lg-9 pe-4">
        <div class="content">
          <div>
            <h4 style="letter-spacing: 2px">{{statisticalContent}}</h4>
          </div>
          <div infiniteScroll
               [infiniteScrollDistance]="1"
               [infiniteScrollThrottle]="0"
               [scrollWindow]="true"
               (scrolled)="loadMore(dataShow,listAll)">
            <div *ngFor="let r of dataShow" class=" row mt-4">
              <app-search-item-song *ngIf="r['audio']" [song]="r"></app-search-item-song>
              <app-search-item-user *ngIf="r['username']" [user]="r"></app-search-item-user>
              <app-search-item-playlist *ngIf="r['description']" [playlist]="r"></app-search-item-playlist>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
