.play-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.track-desc {
  height: 100%;
}

.act-btn {
  padding: 4px 8px;
  border: 1px solid rgba(157, 157, 157, 0.5);
  cursor: pointer;
}

.act-btn + .act-btn {
  margin-left: 4px;
}

.fix {
  font-size: 12px;
  margin-top: 10px;
}

.track-desc-second {
  padding-bottom: 2px;
}

.row + .row {
  margin-top: 24px;
}
.like {
  border: 1px solid orangered;
  color: orangered;
}
